src/Rebelo/ATWs/Series/SeriesAutoFaturacaoWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://at.gov.pt/"
                  targetNamespace="http://at.gov.pt/"
                  name="SeriesAutoFaturacaoWSService">
   <wsdl:types>
      <xsd:schema xmlns:ns0="http://at.gov.pt/" targetNamespace="http://at.gov.pt/">
         <xsd:element name="anularSerieAutofaturacao" type="ns0:anularSerieAutofaturacao"/>
         <xsd:element name="anularSerieAutofaturacaoResponse"
                      type="ns0:anularSerieAutofaturacaoResponse"/>
         <xsd:element name="consultarAcordosAutofaturacao" type="ns0:consultarAcordosAutofaturacao"/>
         <xsd:element name="consultarAcordosAutofaturacaoResponse"
                      type="ns0:consultarAcordosAutofaturacaoResponse"/>
         <xsd:element name="consultarSeriesAutofaturacao" type="ns0:consultarSeriesAutofaturacao"/>
         <xsd:element name="consultarSeriesAutofaturacaoResponse"
                      type="ns0:consultarSeriesAutofaturacaoResponse"/>
         <xsd:element name="finalizarSerieAutofaturacao" type="ns0:finalizarSerieAutofaturacao"/>
         <xsd:element name="finalizarSerieAutofaturacaoResponse"
                      type="ns0:finalizarSerieAutofaturacaoResponse"/>
         <xsd:element name="registarSerieAutofaturacao" type="ns0:registarSerieAutofaturacao"/>
         <xsd:element name="registarSerieAutofaturacaoResponse"
                      type="ns0:registarSerieAutofaturacaoResponse"/>
         <xsd:simpleType name="serieType">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="35"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="tipoSerieType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="classeDocType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="tipoDocType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="numSeqType">
            <xsd:restriction base="xsd:integer">
               <xsd:minInclusive value="1"/>
               <xsd:totalDigits value="25"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="numCertSWFaturType">
            <xsd:restriction base="xsd:integer">
               <xsd:minInclusive value="0"/>
               <xsd:totalDigits value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="codValidacaoSerieType">
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="8"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="motivoType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="justificacaoType">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="4000"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="estadoType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="codResultOperType">
            <xsd:restriction base="xsd:integer">
               <xsd:totalDigits value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="msgResultOperType">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="250"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="nifType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="9"/>
               <xsd:pattern value="\d{9}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="meioProcessamentoType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
		 <xsd:simpleType name="tipoEntidadeAcordoType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
		 <xsd:simpleType name="nifAcordoType">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
		 <xsd:simpleType name="nomeType">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="100"/>
            </xsd:restriction>
         </xsd:simpleType>
		 <xsd:simpleType name="paisType">
            <xsd:restriction base="xsd:string">
               <xsd:length value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="anularSerieAutofaturacao">
            <xsd:sequence>
               <xsd:element name="serie" type="ns0:serieType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o identificador da Série de Autofaturação cuja comunicação pretende anular.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classeDoc" type="ns0:classeDocType">
                  <xsd:annotation>
                     <xsd:documentation>Indique a classificação dada ao documento a que pertence a Série de Autofaturação cuja comunicação pretende anular.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tipoDoc" type="ns0:tipoDocType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o tipo de documento a que pertence a Série de Autofaturação cuja comunicação pretende anular.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="codValidacaoSerie" type="ns0:codValidacaoSerieType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o código de validação da Série de Autofaturação, atribuído pela AT, cuja comunicação pretende anular.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="motivo" type="ns0:motivoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o motivo pelo qual pretende anular a comunicação da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="declaracaoNaoEmissao" type="xsd:boolean">
                  <xsd:annotation>
                     <xsd:documentation>Indicação informativa de que o sujeito passivo teve conhecimento de que não deve anular a comunicação de uma Série de Autofaturação se já utilizou documentos emitidos com a informação da mesma. A comunicação não será aceite se o sujeito passivo não indicar (preenchendo com o valor verdadeiro este parâmetro) que teve conhecimento da condição apresentada.
					 </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="acordoRegistadoCom" type="ns0:tipoEntidadeAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o tipo de entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o NIF da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="anularSerieAutofaturacaoResponse">
            <xsd:sequence>
               <xsd:element name="anularSerieAutofaturacaoResp" type="ns0:serieAutofaturacaoResp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="consultarAcordosAutofaturacao">
            <xsd:sequence>
               <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o NIF da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="estado" type="ns0:estadoType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o estado do Acordo de Autofaturação que pretende consultar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="periodoDeAutorizacaoDe" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique a data inicial do intervalo de pesquisa.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="periodoDeAutorizacaoAte" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique a data final do intervalo de pesquisa.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="consultarAcordosAutofaturacaoResponse">
            <xsd:sequence>
               <xsd:element name="consultarAcordosAutofaturacaoResp" type="ns0:consultarAcordosAutofaturacaoResp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="consultarSeriesAutofaturacao">
            <xsd:sequence>
               <xsd:element name="serie" type="ns0:serieType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o identificador da Série de Autofaturação que pretende consultar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classeDoc" type="ns0:classeDocType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique a classificação dada ao Documento a que pertence a Série de Autofaturação que pretende consultar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tipoDoc" type="ns0:tipoDocType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o Tipo de documento a que pertence a Série de Autofaturação que pretende consultar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="codValidacaoSerie" type="ns0:codValidacaoSerieType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o código de validação da Série de Autofaturação que pretende consultar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dataRegistoDe" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique a data inicial do intervalo de pesquisa.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dataRegistoAte" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique a data final do intervalo de pesquisa.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o NIF da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
			   <xsd:element name="acordoRegistadoCom" type="ns0:tipoEntidadeAcordoType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Indique o tipo de entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="consultarSeriesAutofaturacaoResponse">
            <xsd:sequence>
               <xsd:element name="consultarSeriesAutofaturacaoResp" type="ns0:consultarSeriesAutofaturacaoResp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="finalizarSerieAutofaturacao">
            <xsd:sequence>
               <xsd:element name="serie" type="ns0:serieType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o identificador da Série de Autofaturação que pretende finalizar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classeDoc" type="ns0:classeDocType">
                  <xsd:annotation>
                     <xsd:documentation>Indique a classificação dada ao documento a que pertence a Série de Autofaturação que pretende finalizar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tipoDoc" type="ns0:tipoDocType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o tipo de documento a que pertence a Série de Autofaturação que pretende finalizar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="codValidacaoSerie" type="ns0:codValidacaoSerieType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o código de validação da Série de Autofaturação, atribuído pela AT, que pretende finalizar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="seqUltimoDocEmitido" type="ns0:numSeqType">
                  <xsd:annotation>
                     <xsd:documentation>Indique número do último documento emitido da Série de Autofaturação que pretende finalizar.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="justificacao" type="ns0:justificacaoType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Indique observações pertinentes à finalização da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="acordoRegistadoCom" type="ns0:tipoEntidadeAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o tipo de entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o NIF da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="finalizarSerieAutofaturacaoResponse">
            <xsd:sequence>
               <xsd:element name="finalizarSerieAutoFaturacaoResp" type="ns0:serieAutofaturacaoResp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="registarSerieAutofaturacao">
            <xsd:sequence>
               <xsd:element name="serie" type="ns0:serieType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o identificador da Série de Autofaturação que pretende comunicar a AT.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classeDoc" type="ns0:classeDocType">
                  <xsd:annotation>
                     <xsd:documentation>Indique a classificação dada ao documento a que pertence a Série de Autofaturação a comunicar à AT.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tipoDoc" type="ns0:tipoDocType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o tipo de documento a que pertence a Série de Autofaturação a comunicar à AT.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="numInicialSeq" type="ns0:numSeqType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o início da numeração de sequência do documento na Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dataInicioPrevUtiliz" type="xsd:date">
                  <xsd:annotation>
                     <xsd:documentation>Indique a data a partir da qual se prevê a utilização da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="numCertSWFatur" type="ns0:numCertSWFaturType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o número do certificado do programa de faturação, atribuído pela AT. Se não aplicável, deve ser preenchido com "0" (zero).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="comunicarEmNomeDe" type="ns0:tipoEntidadeAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o tipo de entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Indique o NIF da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="paisEstrangeiro" type="ns0:paisType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Indique o país do seu Adquirente/Fornecedor Estrangeiro.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nomeEstrangeiro" type="ns0:nomeType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Indique o nome do seu  Adquirente/Fornecedor Estrangeiro.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="registarSerieAutofaturacaoResponse">
            <xsd:sequence>
               <xsd:element name="registarSerieAutofaturacaoResp" type="ns0:serieAutofaturacaoResp"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="serieAutofaturacaoResp">
            <xsd:sequence>
               <xsd:element name="infoSerieAutofaturacao" type="ns0:infoSerieAutofaturacao" minOccurs="0"/>
               <xsd:element name="infoResultOper" type="ns0:infoResultOper"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="infoSerieAutofaturacao">
            <xsd:annotation>
               <xsd:documentation>Informação de caracterização da Série de Autofaturação comunicada.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
               <xsd:extension base="ns0:infoSerie">
                  <xsd:sequence>
                     <xsd:element name="acordoRegistadoCom" type="ns0:tipoEntidadeAcordoType">
                        <xsd:annotation>
                           <xsd:documentation>Tipo de entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType">
                        <xsd:annotation>
                           <xsd:documentation>Número fiscal do contribuinte associado ao Acordo de Autofaturação.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="paisEstrangeiro" type="ns0:paisType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>País do seu Adquirente/Fornecedor Estrangeiro.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="nomeEstrangeiro" type="ns0:nomeType" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation>Nome do seu  Adquirente/Fornecedor Estrangeiro.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="infoSerie">
            <xsd:sequence>
               <xsd:element name="serie" type="ns0:serieType">
                  <xsd:annotation>
                     <xsd:documentation>Identificador da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tipoSerie" type="ns0:tipoSerieType">
                  <xsd:annotation>
                     <xsd:documentation>Código do tipo de Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classeDoc" type="ns0:classeDocType">
                  <xsd:annotation>
                     <xsd:documentation>Código da classificação dada ao documento a que pertence a Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tipoDoc" type="ns0:tipoDocType">
                  <xsd:annotation>
                     <xsd:documentation>Código do tipo de documento da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="numInicialSeq" type="ns0:numSeqType">
                  <xsd:annotation>
                     <xsd:documentation>Início da numeração de sequência do documento na Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dataInicioPrevUtiliz" type="xsd:date">
                  <xsd:annotation>
                     <xsd:documentation>Data a partir da qual se prevê a utilização da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="seqUltimoDocEmitido" type="ns0:numSeqType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Sequência do último documento emitido da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="meioProcessamento" type="ns0:meioProcessamentoType">
                  <xsd:annotation>
                     <xsd:documentation>Código de meio de processamento dos documentos a emitir.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="numCertSWFatur" type="ns0:numCertSWFaturType">
                  <xsd:annotation>
                     <xsd:documentation>Número do certificado do programa de faturação, atribuído pela AT. Se não aplicável, o resultado é preenchido com "0" (zero).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="codValidacaoSerie" type="ns0:codValidacaoSerieType">
                  <xsd:annotation>
                     <xsd:documentation>Código de validação da Série de Autofaturação, atribuído pela AT.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dataRegisto" type="xsd:date">
                  <xsd:annotation>
                     <xsd:documentation>Data do registo da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="estado" type="ns0:estadoType">
                  <xsd:annotation>
                     <xsd:documentation>Código do estado que a Série de Autofaturação possui no decorrer do processo de comunicação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="motivoEstado" type="ns0:motivoType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Código de motivo justificativo da mudança de estado.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="justificacao" type="ns0:justificacaoType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Observações pertinentes comunicadas sobre a finalização da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dataEstado" type="xsd:dateTime">
                  <xsd:annotation>
                     <xsd:documentation>Data da última alteração de estado da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifComunicou" type="ns0:nifType">
                  <xsd:annotation>
                     <xsd:documentation>Número fiscal do contribuinte responsável pela comunicação da Série de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="infoResultOper">
            <xsd:annotation>
               <xsd:documentation>Resultado da operação</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="codResultOper" type="ns0:codResultOperType">
                  <xsd:annotation>
                    <xsd:documentation>Código do resultado da operação</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="msgResultOper" type="ns0:msgResultOperType">
                  <xsd:annotation>
                    <xsd:documentation>Mensagem do resultado da operação</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="consultarAcordosAutofaturacaoResp">
            <xsd:sequence>
               <xsd:element name="infoAcordoAutofaturacao" type="ns0:infoAcordoAutofaturacao" minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="infoResultOper" type="ns0:infoResultOper"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="infoAcordoAutofaturacao">
            <xsd:sequence>
               <xsd:element name="acordoRegistadoCom" type="ns0:tipoEntidadeAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>Tipo de entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifAdquirente" type="ns0:nifAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>NIF da outra entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nomeAdquirente" type="ns0:nomeType">
                  <xsd:annotation>
                     <xsd:documentation>Nome da outra entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nifAssociadoAoAcordo" type="ns0:nifAcordoType">
                  <xsd:annotation>
                     <xsd:documentation>NIF da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="nomeNifAssociadoAoAcordo" type="ns0:nomeType">
                  <xsd:annotation>
                     <xsd:documentation>Nome da entidade com quem estabeleceu o Acordo prévio de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="paisEstrangeiro" type="ns0:paisType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>País do seu Adquirente/Fornecedor Estrangeiro</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="estado" type="ns0:estadoType">
                  <xsd:annotation>
                     <xsd:documentation>Código do estado que o Acordo de Autofaturação possui no decorrer do processo de comunicação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="periodoAutorizacaoDe" type="xsd:date">
                  <xsd:annotation>
                     <xsd:documentation>Data a partir da qual se prevê a utilização do Acordo de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="periodoAutorizacaoAte" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Data até quando se prevê a utilização do Acordo de Autofaturação.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="consultarSeriesAutofaturacaoResp">
            <xsd:sequence>
               <xsd:element name="infoSerieAutofaturacao" type="ns0:infoSerieAutofaturacao" minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="infoResultOper" type="ns0:infoResultOper"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <message name="registarSerieAutofaturacao">
        <part name="parameters" element="tns:registarSerieAutofaturacao"/>
    </message>
   <message name="registarSerieAutofaturacaoResponse">
        <part name="parameters" element="tns:registarSerieAutofaturacaoResponse"/>
    </message>
   <message name="consultarSeriesAutofaturacao">
        <part name="parameters" element="tns:consultarSeriesAutofaturacao"/>
    </message>
   <message name="consultarSeriesAutofaturacaoResponse">
        <part name="parameters" element="tns:consultarSeriesAutofaturacaoResponse"/>
    </message>
   <message name="finalizarSerieAutofaturacao">
        <part name="parameters" element="tns:finalizarSerieAutofaturacao"/>
    </message>
   <message name="finalizarSerieAutofaturacaoResponse">
        <part name="parameters" element="tns:finalizarSerieAutofaturacaoResponse"/>
    </message>
   <message name="anularSerieAutofaturacao">
        <part name="parameters" element="tns:anularSerieAutofaturacao"/>
    </message>
   <message name="anularSerieAutofaturacaoResponse">
        <part name="parameters" element="tns:anularSerieAutofaturacaoResponse"/>
    </message>
   <message name="consultarAcordosAutofaturacao">
        <part name="parameters" element="tns:consultarAcordosAutofaturacao"/>
    </message>
   <message name="consultarAcordosAutofaturacaoResponse">
        <part name="parameters" element="tns:consultarAcordosAutofaturacaoResponse"/>
    </message>
   <portType name="SeriesAutoFaturacaoWS">
        <operation name="registarSerieAutofaturacao">
            <documentation>
                Esta funcionalidade tem como objetivo, permitir a comunicação das Séries de Autofaturação  à AT, através do registo das mesmas, de modo a que seja atribuído um código único de validação da Série.
            </documentation>
            <input wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/registarSerieAutofaturacaoRequest"
                message="tns:registarSerieAutofaturacao"/>
            <output wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/registarSerieAutofaturacaoResponse"
                 message="tns:registarSerieAutofaturacaoResponse"/>
        </operation>
        <operation name="consultarSeriesAutofaturacao">
            <documentation>
                Esta funcionalidade tem como objetivo disponibilizar a consulta das Séries de Autofaturação comunicadas.
            </documentation>
            <input wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/consultarSeriesAutofaturacaoRequest"
                message="tns:consultarSeriesAutofaturacao"/>
            <output wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/consultarSeriesAutofaturacaoResponse"
                 message="tns:consultarSeriesAutofaturacaoResponse"/>
        </operation>
        <operation name="finalizarSerieAutofaturacao">
            <documentation>
                Esta funcionalidade tem como objetivo indicar que uma Série de Autofaturação foi válida para um conjunto de documentos, mas que a mesma já não será usada a partir do último documento comunicado.
            </documentation>
            <input wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/finalizarSerieAutofaturacaoRequest"
                message="tns:finalizarSerieAutofaturacao"/>
            <output wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/finalizarSerieAutofaturacaoResponse"
                 message="tns:finalizarSerieAutofaturacaoResponse"/>
        </operation>
        <operation name="anularSerieAutofaturacao">
            <documentation>
                Esta funcionalidade tem como objetivo disponibilizar a ação de anular a comunicação de uma Série de Autofaturação anteriormente comunicada, por erro.
            </documentation>
            <input wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/anularSerieAutofaturacaoRequest"
                message="tns:anularSerieAutofaturacao"/>
            <output wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/anularSerieAutofaturacaoResponse"
                 message="tns:anularSerieAutofaturacaoResponse"/>
        </operation>
        <operation name="consultarAcordosAutofaturacao">
            <documentation>
                Esta funcionalidade tem como objetivo disponibilizar a consulta dos Acordos de Autofaturação comunicados.
            </documentation>
            <input wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/consultarAcordosAutofaturacaoRequest"
                message="tns:consultarAcordosAutofaturacao"/>
            <output wsam:Action="http://at.gov.pt/SeriesAutoFaturacaoWS/consultarAcordosAutofaturacaoResponse"
                 message="tns:consultarAcordosAutofaturacaoResponse"/>
        </operation>
    </portType>
   <binding name="SeriesAutoFaturacaoWSPortBinding" type="tns:SeriesAutoFaturacaoWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="registarSerieAutofaturacao">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarSeriesAutofaturacao">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="finalizarSerieAutofaturacao">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="anularSerieAutofaturacao">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarAcordosAutofaturacao">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
   <service name="SeriesAutoFaturacaoWSService">
        <port name="SeriesAutoFaturacaoWSPort" binding="tns:SeriesAutoFaturacaoWSPortBinding">
            <soap:address location="http://localhost:7001/seriesbo/SeriesAutoFaturacaoWSService"/>
        </port>
    </service>
</wsdl:definitions>
