src/Rebelo/ATWs/Invoice/factemiws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--suppress Annotator -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://servicos.portaldasfinancas.gov.pt/faturas/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="faturas"
                  targetNamespace="http://servicos.portaldasfinancas.gov.pt/faturas/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://servicos.portaldasfinancas.gov.pt/faturas/">

            <xsd:element name="RegisterInvoiceElem" type="tns:RegisterInvoiceType">
            </xsd:element>
            <xsd:element name="RegisterInvoiceResponseElem" type="tns:RegisterInvoiceResponseType">
            </xsd:element>

            <xsd:complexType name="RegisterInvoiceResponseType">
                <xsd:sequence>
                    <xsd:element name="ReturnCode" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="ReturnMessage" maxOccurs="1" minOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="256"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RegisterInvoiceType">
                <xsd:sequence>
                    <!-- a), nº4, art. 3º, D.L. 198/2012 -->
                    <xsd:element name="TaxRegistrationNumber" type="tns:SAFPTPortugueseVatNumber"/>
                    <!-- b), nº4, art. 3º, D.L. 198/2012 -->
                    <xsd:element ref="tns:InvoiceNo"/>
                    <!-- c), nº4, art. 3º, D.L. 198/2012 -->
                    <xsd:element ref="tns:InvoiceDate"/>
                    <!-- d), nº4, art. 3º, D.L. 198/2012 -->
                    <xsd:element ref="tns:InvoiceType"/>
                    <xsd:element ref="tns:InvoiceStatus" minOccurs="0"/>
                    <xsd:element ref="tns:EACCode" minOccurs="0"/>
                    <!-- e) f), nº4, art. 3º, D.L. 198/2012 -->
                    <xsd:choice>
                        <xsd:element name="CustomerTaxID" type="tns:SAFPTPortugueseVatNumber"/>
                        <xsd:element ref="tns:InternationalCustomerTaxID"/>
                    </xsd:choice>
                    <xsd:element maxOccurs="unbounded" name="Line">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="tns:OrderReferences" minOccurs="0"/>
                                <!-- g), nº4, art. 3º, D.L. 198/2012 -->
                                <xsd:choice>
                                    <xsd:element ref="tns:DebitAmount"/>
                                    <xsd:element ref="tns:CreditAmount"/>
                                </xsd:choice>
                                <!-- h), nº4, art. 3º, D.L. 198/2012 -->
                                <xsd:element ref="tns:Tax"/>
                                <!-- i), nº4, art. 3º, D.L. 198/2012 -->
                                <xsd:element minOccurs="0" ref="tns:TaxExemptionReason"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DocumentTotals">
                        <xsd:complexType>
                            <xsd:sequence>
                                <!-- j), nº4, art. 3º, D.L. 198/2012 -->
                                <xsd:element ref="tns:TaxPayable"/>
                                <!-- g), nº4, art. 3º, D.L. 198/2012 -->
                                <xsd:element ref="tns:NetTotal"/>
                                <xsd:element ref="tns:GrossTotal"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="SAFPTPortugueseVatNumber">
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="100000000"/>
                    <xsd:maxInclusive value="999999999"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="InternationalCustomerTaxID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TaxIDNumber" type="tns:SAFPTtextTypeMandatoryMax20Car"/>
                        <xsd:element name="TaxIDCountry" type="tns:ForeignCountry"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Código único do documento -->
            <xsd:element name="InvoiceNo">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="([a-zA-Z0-9./_\-])+ ([a-zA-Z0-9]*/[0-9]+)"/>
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="InvoiceDate" type="tns:SAFdateType"/>

            <!-- Tipo de documento -->
            <xsd:element name="InvoiceType">
                <xsd:annotation>
                    <xsd:documentation>
                        Restrição: Tipos de Documento (FT - Fatura,
                        NC-Nota de Crédito, ND - Nota de
                        Débito, FS - Fatura Simplificada,
                        FR - Fatura-recibo,
                        DC - Documento de Conferência)
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="FT"/>
                        <xsd:enumeration value="NC"/>
                        <xsd:enumeration value="ND"/>
                        <xsd:enumeration value="FS"/>
                        <xsd:enumeration value="FR"/>
                        <xsd:enumeration value="DC"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <!-- Estado do documento -->
            <xsd:element name="InvoiceStatus">
                <xsd:annotation>
                    <xsd:documentation>N para Normal, A para Anulado</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="A"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <!-- Codigo CAE -->
            <xsd:element name="EACCode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(([0-9]*))"/>
                        <xsd:length value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <!-- Estrutura de Referencias aos documentos de origem-->
            <xsd:element name="OrderReferences">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:OrderReference"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="OrderReference">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" ref="tns:OriginatingON"/>
                        <xsd:element minOccurs="1" maxOccurs="1" ref="tns:OrderDate"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="OriginatingON" type="tns:SAFPTtextTypeMandatoryMax60Car"/>
            <xsd:element name="OrderDate" type="tns:SAFdateType"/>

            <xsd:element name="DebitAmount" type="tns:SAFmonetaryType"/>
            <xsd:element name="CreditAmount" type="tns:SAFmonetaryType"/>

            <xsd:element name="Tax">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:TaxType"/>
                        <xsd:element ref="tns:TaxCountryRegion"/>
                        <xsd:element ref="tns:TaxPercentage"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="TaxType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="IVA"/>
                        <xsd:minLength value="3"/>
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TaxCountryRegion">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern
                                value="PT|PT-AC|PT-MA"/>
                        <xsd:minLength value="2"/>
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TaxPercentage" type="tns:SAFdecimalType"/>


            <xsd:element name="TaxExemptionReason">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="TaxPayable" type="tns:SAFmonetaryType"/>
            <xsd:element name="NetTotal" type="tns:SAFmonetaryType"/>
            <xsd:element name="GrossTotal" type="tns:SAFmonetaryType"/>

            <!-- Código do país (ISO 3166 1-alpha-2) excluindo PT -->
            <xsd:simpleType name="ForeignCountry">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="2"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="SAFPTtextTypeMandatoryMax20Car">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="SAFPTtextTypeMandatoryMax60Car">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="SAFdateType">
                <xsd:restriction base="xsd:date"/>
            </xsd:simpleType>
            <xsd:simpleType name="SAFdecimalType">
                <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>
            <xsd:simpleType name="SAFmonetaryType">
                <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RegisterInvoiceRequest">
        <wsdl:part element="tns:RegisterInvoiceElem" name="RegisterInvoiceRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterInvoiceResponse">
        <wsdl:part element="tns:RegisterInvoiceResponseElem" name="RegisterInvoiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="faturas">
        <wsdl:operation name="RegisterInvoice">
            <wsdl:input message="tns:RegisterInvoiceRequest"/>
            <wsdl:output message="tns:RegisterInvoiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="faturasSOAP" type="tns:faturas">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RegisterInvoice">
            <soap:operation
                    soapAction="http://servicos.portaldasfinancas.gov.pt/faturas/RegisterInvoice"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="faturas">
        <wsdl:port binding="tns:faturasSOAP" name="faturasSOAP">
            <soap:address location="https://servicos.portaldasfinancas.gov.pt/faturas/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
